.SideDrawal {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 95vw;
  max-width: 350px;
  background: linear-gradient(
    20deg,
    hsl(130deg, 8%, 14%) 40%,
    hwb(0 13% 87%) 100%
  );
  padding-top: 60px;
  transition: transform 300ms ease-out;
  z-index: 400;
}
.Open {
  transform: translateX(0%);
}
.Close {
  transform: translateX(100%);
}
.NavCSS {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 10px;
  height: 100%;
}
.NavCSS a {
  padding-left: 30px;
  color: white;
  font-weight: bold;
  /* width: 100% !important; */
}

.SideDrawalSocailHandles {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.fade-enter {
  transform: translateX(-100%);
}

.fade-enter-active {
  transform: translateX(0);
}

.fade-exit {
  transform: translateX(0);
}

.fade-exit-active {
  transform: translateX(-100%);
}

@media screen and (min-width: 751px) {
  .SideDrawal {
    display: none;
  }
}
