.personalPage {
  display: flex;
  height: 100%;
  background-color: #f8f8f8;
}

.rightSection {
  flex: 1;
  padding: 40px;
  background-color: #fff;
}

.form {
  max-width: 400px;
  margin: auto;
}

.userInfoForm {
  display: flex;
  flex-direction: column;
}

.formGroup,
.phoneGroup {
  margin-bottom: 20px;
}

.weakPass {
  border-color: red !important;
}

.error {
  margin: 0;
  color: red;
}

.highlightText {
  color: red;
  padding-top: 10px;
}

.text {
  padding-top: 10px;
}

label {
  font-size: 1em;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.formActions {
  display: flex;
  justify-content: space-between;
}

.formActions button {
  padding: 15px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.submitButton {
  background-color: rgb(105, 105, 7);
}

.genderGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.genderGroup label {
  display: flex !important;
  align-items: center;
}
