.loginPage {
  display: flex;
  height: 100vh;
  color: white;
}

.backButton a {
  color: white;
}

.leftSection {
  flex: 1;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginImage {
  height: 80%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .leftSection {
    display: none;
  }
}

.rightSection {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.backButton {
  margin-bottom: 20px;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  font-size: 1em;
  margin-bottom: 5px;
  display: block;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.inputError {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.formOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.formOptions a {
  color: red;
  text-decoration: none;
}

.loginButton {
  background-color: rgb(136, 136, 12);
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
}

.signupText {
  margin-top: 20px;
  text-align: center;
}

.signupText a {
  color: red;
  text-decoration: none;
}

@media (max-width: 768px) {
  .loginPage {
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }

  .rightSection {
    padding: 20px;
  }
}
