.Navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.HeaderNav a,
.MyName {
  color: rgb(211, 208, 208);
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  width: fit-content;
}
.HeaderNav a:hover {
  color: rgb(255, 221, 0);
}
