@font-face {
  font-family: lato;
  src: url(./assets//fonts/latoRegular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0 !important;
  height: fit-content;
}
