.Footers {
  width: 100%;
  text-align: center;
}
/* .Remarks{
    color:white;
    text-align: center;
    padding: 10px 0;
}
.creatorRemarks{
    text-align: right;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}
.Creator a{
    font-size: 12px;
    color: red;
} */
